.pagination{
    text-align: center;
}

.pagination a{
    color: black;
    padding: 8px 15px;
    text-decoration: none;
}

.pagination a.active{
    background-color: aqua;
    border-radius: 5px;
}

.pagination a:hover:not(:active){
    background-color: grey;
}
